# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Build"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

      
jobs:
  build:
    outputs:
      version: ${{ steps.vsix_version.outputs.version-number }}
    name: Build 
    runs-on: windows-2022
    env:
      Configuration: Release
      DeployExtension: False
      VsixManifestPath: src\source.extension.vsixmanifest
      VsixManifestSourcePath: src\source.extension.cs
      
    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET build dependencies
      uses: timheuer/bootstrap-dotnet@v1
      with:
        nuget: 'false'
        sdk: 'false'
        msbuild: 'true'

    - name: Increment VSIX version
      id: vsix_version
      uses: timheuer/vsix-version-stamp@v1
      with:
        manifest-file: ${{ env.VsixManifestPath }}
        vsix-token-source-file: ${{ env.VsixManifestSourcePath }}

    - name: Build
      run: msbuild /v:m -restore /p:OutDir=../_built
      
    #- name: Setup test
    #  uses: darenm/Setup-VSTest@v1

    #- name: Test
    #  run: vstest.console.exe _built\*test.dll

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: CleanArchitectureCodeGenerator.vsix
        path: _built/**/*.vsix

  publish:
    needs: build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Download Package artifact
        uses: actions/download-artifact@v2 
        with:
          name: CleanArchitectureCodeGenerator.vsix

      # - name: Upload to Open VSIX
      #   uses: timheuer/openvsixpublish@v1
      #   with:
      #     vsix-file: CleanArchitectureCodeGenerator.vsix

   

      - name: Publish extension to Marketplace
        uses: cezarypiatek/VsixPublisherAction@1.0
        with:
          extension-file: CleanArchitectureCodeGenerator.vsix
          publish-manifest-file: 'vs-publish.json'
          personal-access-code: ${{ secrets.NUGET_API_KEY }}
